<h3>Portfolio Items</h3>


<!-- This can take a sub domain -->
<!-- <a href="portfolios/new" title="">Create New Item</a> -->


<!-- This is the relative path -->
<%= link_to "New Portfolio", new_portfolio_path %>



<% @portfolio_items.each do |pi| %>
  <p><%= link_to pi.title, portfolio_show_path(pi)  %></p>
  <p><%= pi.subtitle  %></p>
  <p><%= pi.body  %></p>
  <%= image_tag pi.thumb_image unless pi.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(pi)  %>
  <%= link_to 'Delete Item', portfolio_path(pi), method: :delete, data: { confirm: 'Is this really what you want..... really?' } %>
  
<% end %>